<html>
    <head>
        <title>Coin Signals</title>
        {% load static %}
        <link rel="shortcut icon" href="{% static '/images/logo.svg'%}">
        <link rel="stylesheet" type="text/css" href="{% static '/homepage.css'%}">
        <script type="text/javascript" src="{% static '/coinlist.js'%}"></script>
        
    </head>
    <header>
        <div class="container">
            {% load static %}
            <img alt="logo" class="logo" src="{% static '/images/logo.svg'%}">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/signals">Signals</a></li>
                    <li><a href="/signalsob ">Signals (order book)</a></li>
                    <li><a href="#">About</a></li>    
                </ul>
            </nav>
        </div>
        <div class="user">
            <span> User: {{request.user}}</span>
            <span><a href="/logout">Logout</a></span>
        <div>
    </header>
    <body>
        <table class="pricetable table-sortable">
            <thead>
            <tr>
                <th data-column="symbol" data-order="desc">Coin </th>
                <th data-column="price" data-order="desc">Price </th>
                <th data-column="market cap" data-order="desc">Market Cap </th>
                <th data-column="1hour" data-order="desc">1 HR </th>
                <th data-column="24hour" data-order="desc">24 HR </th>
                <th data-column="7day" data-order="desc">7 DAY </th>
                <th data-column="1Year" data-order="desc">1 YEAR </th>
            </tr>
            </thead>
            <tbody id="pricedata"></tbody>
        </table>    
    </body>>
</html>