<html>
    <head>
        <title>Signals</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/signal.css'%}">
        <link rel="shortcut icon" href="{% static '/images/logo.svg'%}">
        <link rel="stylesheet" type="text/css" href="{% static '/homepage.css'%}">
        <script type="text/javascript" src="{% static '/formatTriggerList.js'%}"></script>
    </head>
    <header>
        <div class="container">
            {% load static %}
            <img alt="logo" class="logo" src="{% static '/images/logo.svg'%}">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/signals">Signals</a></li>
                    <li><a href="/signalsob ">Signals (order book)</a></li>
                    <li><a href="#">About</a></li>    
                </ul>
            </nav>
        </div>
        <div class="user">
            <span> User: {{request.user}}</span>
            <span><a href="/logout">Logout</a></span>
        <div>
    </header>
    <body>
        <a class="coins">{{ETHUSDT}}</a>    
        <a class="coins">{{BTCUSDT}}</a>
        <a class="coins">{{XRPUSDT}}</a>
        <a class="coins">{{NEOUSDT}}</a>    
        <a class="coins">{{XRPUSDT}}</a>
        <a class="coins">{{DASHUSDT}}</a>
        <a class="coins">{{LTCUSDT}}</a>
        <a class="coins">{{EOSUSDT}}</a>
        <a class="coins">{{ETCUSDT}}</a>
        <a class="coins">{{DOGEUSDT}}</a>
        <a class="coins">{{SHIBUSDT}}</a>
        <a class="coins">{{LUNAUSDT}}</a>
        <a class="coins">{{LINKUSDT}}</a>
        <a class="coins">{{ADAUSDT}}</a>
        <a class="coins">{{BTTUSDT}}</a>
        <a class="coins">{{STORJUSDT}}</a>
        <a class="coins">{{DOTUSDT}}</a>
        <a class="coins">{{XLMUSDT}}</a>
        <a class="coins">{{SOLUSDT}}</a>
        <a class="coins">{{XMRUSDT}}</a>
        <a class="coins">{{HNTUSDT}}</a>
        <a class="coins">{{ILVUSDT}}</a>
        <a class="coins">{{CAKEUSDT}}</a>
        <a class="coins">{{MATICUSDT}}</a>
        <a class="coins">{{BTTUSDT}}</a>
        <a class="coins">{{IOTAUSDT}}</a>
        <a class="coins">{{OMGUSDT}}</a>
        <a class="coins">{{TRXUSDT}}</a>
        <a class="coins">{{XTZUSDT}}</a>
        <a class="coins">{{ZECUSDT}}</a>
        
        <section class="triggers">
            
        </section>
        
































    </body>
</html>